body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-conteiner{
    display: flex;
    margin: 100px;
}
.half-width img{
    width: 160%;
    padding: 5%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.text{
    color: rgb(17, 218, 33);
}
.separate{
    width: 60%;
    float: left;
    margin: 50px;
}